
div.container{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  gap: 8px;
}

section.card{
  width: auto;
  min-width: 400px;
  border-radius: 20px;
  background: #1b233d;
  padding: 5px 10px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
section.card:hover {
  transform: scale(1.01);
}

h1.title{
  color: #fff;
  margin-bottom: 1rem;
}

.twitterFollowCard-container{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  
} */
